<h1>Creations#edit</h1>
<p>Find me in app/views/creations/edit.html.erb</p>



<%= form_for(@creation) do |f| %>

  <%= f.label :nom %>
  <%= f.text_field :nom %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :difficulte %>
  <%= f.number_field :difficulte %>
  <%= f.submit %>
  <%= f.label "Profile Photo" %>
  <%= f.file_field :avatar %>

<% end %>


